<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.zehui.self.cook.book.dao.RestaurantDishDao">

    <resultMap type="wang.zehui.self.cook.book.domain.entity.RestaurantDish" id="RestaurantDishMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="restaurantId" column="restaurant_id" jdbcType="VARCHAR"/>
        <result property="restaurantCategoryId" column="restaurant_category_id" jdbcType="VARCHAR"/>
        <result property="dishImageUrl" column="dish_image_url" jdbcType="VARCHAR"/>
        <result property="dishName" column="dish_name" jdbcType="VARCHAR"/>
        <result property="dishSale" column="dish_sale" jdbcType="INTEGER"/>
        <result property="dishRatingLevel" column="dish_rating_level" jdbcType="NUMERIC"/>
        <result property="dishPrice" column="dish_price" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>

